<footer class="footer-section">
  <div class="footer-container container">
    <div class="footer-main-container">
      <div class="footer-logo-container">
        <a href="../index.html" class="footer-logo-link">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="./img/icons.svg#logo-icon"></use>
          </svg>
          <svg class="footer-logo-text" width="146" height="12">
            <use href="./img/icons.svg#logo-text"></use>
          </svg>
        </a>
        <p class="footer-logo-container-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-address-container">
        <nav>
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#how" class="footer-nav-link">how it works</a>
            </li>
            <li class="footer-nav-item">
              <a href="#vegetables" class="footer-nav-link">vegetables</a>
            </li>
            <li class="footer-nav-item">
              <a href="#reviews" class="footer-nav-link">reviews</a>
            </li>
          </ul>
        </nav>
        <address class="footer-address-container">
          <a href="tel:+380684439426" class="footer-address-item"
            >+380 (68) 443-94-26</a
          >
          <a
            href="https://maps.app.goo.gl/3ykVoxqpR2SdDFAh6"
            class="footer-address-item"
            target="_blank"
            >1678 S. Pioneer Road Salt <br />
            Lake City UT 84104</a
          >
        </address>
      </div>
    </div>
    <div class="footer-service-container">
      <span>
        <a href="" class="footer-service-privacy">privacy policy</a>
        /
        <a href="" class="footer-service-cookie">cookie settings</a>
      </span>
      <span>© Green Harvest 2023</span>
    </div>
  </div>
</footer>
