<header>
  <div class="header-container container">
    <a href="../index.html" class="logo-link">
      <svg class="logo-icon" width="16" height="16">
        <use href="../img/icons.svg#logo-icon"></use>
      </svg>
      <svg class="logo-text" width="146" height="12">
        <use href="../img/icons.svg#logo-text"></use>
      </svg>
    </a>
    <button class="header-menu-button" data-id="mob-menu">
      <svg class="open-icon" width="21.33" height="16" data-action="open">
        <use href="../img/icons.svg#open-icon"></use>
      </svg>
      <svg class="close-icon" width="16" height="16" data-action="close">
        <use href="../img/icons.svg#close-icon"></use>
      </svg>
    </button>
  </div>
</header>
