<header>
  <div class="header-container container">
    <a href="../index.html" class="header-logo-link">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="../img/icons.svg#logo-icon"></use>
      </svg>
      <svg class="header-logo-text" width="146" height="12">
        <use href="../img/icons.svg#logo-text"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <a href="#how" class="header-nav-link">how it works</a>
      <a href="#vegetables" class="header-nav-link">vegetables</a>
      <a href="#reviews" class="header-nav-link">reviews</a>
    </nav>
    <a href="#order" class="header-shop-button">shop now</a>
    <button type="button"
      class="header-open-menu-button"
      data-id="menu-button"
      data-action="open"
    >
      <svg class="open-icon" width="21.33" height="16">
        <use href="../img/icons.svg#open-icon"></use>
      </svg>
    </button>
  </div>
</header>
