<section class="how-section" id="how">
  <div class="container how-container">
    <div class="how-content-wrapper">
      <h2 class="how-title">
        To order your <span>vegetable</span> basket, simply follow these
        <span>easy steps</span>
      </h2>
      <p class="how-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="how-list">
        <li class="how-item">
          <p class="how-item-text">
            Just choose <span>the vegetable</span> you want to order by clicking
            on the checkboxes <span>next to it</span>.
          </p>
        </li>
        <li class="how-item">
          <p class="how-item-text">
            Click on <span>the basket</span> and fill out the form.
          </p>
        </li>
        <li class="how-item">
          <p class="how-item-text">
            Sit back and relax! Your <span>fresh vegetables</span> basket will
            be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
