<div class="menu-wrapper">
  <div class="menu-backdrop">
    <div class="menu-container container">
      <button class="header-close-menu-button">
        <svg class="close-icon" width="16" height="16">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <a href="#how" class="menu-nav-link">how it works</a>
        <a href="#vegetables" class="menu-nav-link">vegetables</a>
        <a href="#reviews" class="menu-nav-link">reviews</a>
      </nav>
      <button class="menu-shop-button">shop now</button>
    </div>
  </div>
</div>
