<section class="vegetables-section" id="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetable-title">Organic <span>vegetables</span></h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">Eggplant</h3>
        <p class="vegetables-desc">60 UAH / kg</p>
        <img
          class="vegetables-img"
          width="282"
          height="243"
          srcset="
            ./img/mobile/vegetables/vegetables-eggplant-1x.png 1x,
            ./img/mobile/vegetables/vegetables-eggplant-2x.png 2x,
            ./img/mobile/vegetables/vegetables-eggplant-3x.png 3x
          "
          src="./img/mobile/vegetables/vegetables-eggplant-1x.png"
          alt="Eggplant"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">Leek</h3>
        <p class="vegetables-desc">50 UAH / kg</p>
        <img
          class="vegetables-img"
          width="282"
          height="243"
          srcset="
            ./img/mobile/vegetables/vegetables-leek-1x.png 1x,
            ./img/mobile/vegetables/vegetables-leek-2x.png 2x,
            ./img/mobile/vegetables/vegetables-leek-3x.png 3x
          "
          src="./img/mobile/vegetables/vegetables-leek-1x.png"
          alt="Leek"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">Mushrooms</h3>
        <p class="vegetables-desc">40 UAN / kg</p>
        <img
          class="vegetables-img"
          width="282"
          height="243"
          srcset="
            ./img/mobile/vegetables/vegetables-mushrooms-1x.png 1x,
            ./img/mobile/vegetables/vegetables-mushrooms-2x.png 2x,
            ./img/mobile/vegetables/vegetables-mushrooms-3x.png 3x
          "
          src="./img/mobile/vegetables/vegetables-mushrooms-1x.png"
          alt="Eggplant"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">Corn</h3>
        <p class="vegetables-desc">60 UAN / kg</p>
        <img
          class="vegetables-img"
          width="282"
          height="243"
          srcset="
            ./img/mobile/vegetables/vegetables-corn-1x.png 1x,
            ./img/mobile/vegetables/vegetables-corn-2x.png 2x,
            ./img/mobile/vegetables/vegetables-corn-3x.png 3x
          "
          src="./img/mobile/vegetables/vegetables-corn-1x.png"
          alt="Corn"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">Sweet potatoes</h3>
        <p class="vegetables-desc">50 UAN / kg</p>
        <img
          class="vegetables-img"
          width="282"
          height="243"
          srcset="
            ./img/mobile/vegetables/vegetables-sweet-potatoes-1x.png 1x,
            ./img/mobile/vegetables/vegetables-sweet-potatoes-2x.png 2x,
            ./img/mobile/vegetables/vegetables-sweet-potatoes-3x.png 3x
          "
          src="./img/mobile/vegetables/vegetables-sweet-potatoes-1x.png"
          alt="Sweet potatoes"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">Carrot</h3>
        <p class="vegetables-desc">40 UAN / kg</p>
        <img
          class="vegetables-img"
          width="282"
          height="243"
          srcset="
            ./img/mobile/vegetables/vegetables-carrot-1x.png 1x,
            ./img/mobile/vegetables/vegetables-carrot-2x.png 2x,
            ./img/mobile/vegetables/vegetables-carrot-3x.png 3x
          "
          src="./img/mobile/vegetables/vegetables-carrot-1x.png"
          alt="Carrot"
        />
      </li>
    </ul>
  </div>
</section>
