.footer-section {
  background-color: #7a3145;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-logo-container-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}

.footer-logo-link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.footer-logo-icon {
  fill: #fbfbfb;
}

.footer-logo-text {
  fill: #fbfbfb;
}

.footer-nav-address-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-address-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-address-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  font-style: normal;
}

.footer-service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-service-container a {
  display: inline;
}

.footer-service-container span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.01em;
  color: #fbfbfb80;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 100px;
  }

  .footer-main-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-logo-container {
    gap: 25px;
    width: 265px;
  }

  .footer-logo-container-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-nav-list {
    gap: 25px;
  }

  .footer-nav-link {
    font-size: 32px;
  }

  .footer-nav-address-container {
    width: 215px;
    gap: 64px;
  }

  .footer-address-container {
    gap: 25px;
  }

  .footer-address-item {
    font-size: 18px;
    line-height: 1.11111;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    background-color: #7a3145;
  }

  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-logo-container {
    margin-right: 302px;
  }

  .footer-main-container {
    gap: unset;
  }

  .footer-nav-address-container {
    width: unset;
    gap: unset;
    flex-direction: row;
  }

  .footer-nav-list {
    margin-right: 121px;
  }
}